/* Named Colors --------------------------*/
/* Sets the text color to white */
p {
  color: rgb(255, 255, 255);
}

/* Sets the background color to black*/
div {
  background-color: rgb(0, 0, 0);
}
/* Hexadecimal/Hex values------------------ */
/* Sets the text color to pure red */
h1 {
  color: #FF0000;
}

/* Sets the background color to a specific grey */
body {
  background-color: #808080;
}
/* RGB and RGBA ----------------------------*/
/* Sets the text color to blue */
p {
  color: rgb(0, 0, 128);
}

/* Sets the background color to a semi-transparent green (50% opaque) */
div {
  background-color: rgba(0, 225, 0, 0.5);
}
/* HSL and HSLA-------------------------------- */
/* Sets the text color to a vivid green */
h1 {
  color: hsl(120, 100%, 50%);
}

/* Sets the background to a light, semi-transparent purple */
.body {
  background-color: hsla(240, 25%, 50%, 0.5);
}