* {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
}


p {
    color: #333; 
    line-height: 1.5;
    padding: 10px;
}

h1 {
    color: #00539f; 
    text-align: center;
    padding: 20px 0;
}


#unique-paragraph {
    background-color: #ff9500; 
    border: 2px solid black;
    color: white;
}


.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
}

.highlight {
    font-weight: bold; 
}


p.highlight {
    text-decoration: underline; 
}


h1, .card, #unique-paragraph {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}