.element-class {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 20px;
  /* Shorthand: top, right, bottom, left */
  margin: 10px 5px 15px 20px;
  /* Same applies to padding */
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  /* Shorthand: */
  padding: 10px 20px 30px 40px;

  border: 2px solid black;
  /* Can also use dashed , dotted */
}
